.legislation-widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 96%;
	padding: 0 .5rem;
	max-width: 700px;
}

@media (min-width: 1000px) {
	.legislation-widget {
		flex-direction: row;
		align-items: flex-start;
		max-width: 1100px;
	}
}

#map-container {
	width: 100%;
	height: min-content;
	max-width: 700px;
	margin: 1rem auto;
}

@media (min-width: 1000px) {
	#map-container {
		width: 45%;
		position: sticky;
		top: 1rem;
	}
}

svg.rsm-svg {
	border: 1px solid #ccc;
	border-radius: 16px;
}

path {
	stroke: white;
	transition: fill 0.4s ease;
}

.tooltip {
	padding: 10px;
	border-radius: 5px;
	background-color: gray;
	color: white;
	position: absolute;
}

.bill-list {
	width: 100%;
}

@media (min-width: 1000px) {
	.bill-list {
		width: 45%;
	}
}

.bills {
	list-style-type: none;
	padding: 0;
	width: 700px;
	max-width: 100%;
}